*{
    font-family: 'Arial','Open Sans', sans-serif;
   
}
#home{
    /* background-color:"#F58F7C"; */
    /* margin-top:-50px */
    /* #e6345b,#f8219e,#9792ec,#d430f8,#ad01d7 */
    /* #7c4db3,darkblue,#125488,#333e9a */
    /* background: linear-gradient(137deg,#dcae70,#65c9c1,#af8735,#2987a3,#3654b1); */
        /* background: linear-gradient(300deg,deepskyblue,#e82cb6,darkviolet,blue ); */
        background: linear-gradient(307deg,deepskyblue,darkviolet,blue);
        background-size: 240% 240%;
        animation: gradient-animation 12s ease infinite;
      }
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
.intro-main-img-div {
    background-size: cover;
    height: 650px;
    background-color:"#F58F7C"
}

.svgbg {
    width: 100%;
    height: 850px;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}

.intro-main-text-div {
    width: 100%;
    height: 600px;
    position: relative;

}

.intro-main-text-div>div:nth-child(1) {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.nameh1tag {
    text-align: center;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2rem;
    /* font-weight: 700;
    word-spacing: normal;
    position: relative;
    -webkit-text-stroke-width: 10px; 
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: white;
    -webkit-text-fill-background: transparent;
    font-family: Impact, Charcoal, sans-serif;
    background-clip: text;
    color: #2C2B30;
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2);
    color: var(--color-background);
    letter-spacing: var(--letter-spacing);
    padding: calc(var(--stroke-width) / 2);
    -webkit-text-stroke-color: transparent; */
    /* -webkit-text-stroke-width: var(--stroke-width); */
}

:root {
    --color-background: #000119;
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
}


.typewriter{
 text-align: center;
 font-family: 'Poppins', sans-serif;
 letter-spacing: 0.2rem;
 color: whitesmoke;
}

.devloperimg{

   width: 30rem;
   display: flex;
   justify-content: center;
   align-items:center;
   margin-left: -10px;

}

.devloperimg-div{
    width: 30rem;
   
    margin: auto;

}

.socialamedialogos{
   
    width: 10rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.socialamedialogos>div{
    /* margin-top: -180px; */
   background-color: #0e4166;
   width: fit-content;
   padding: 5px;
   display: flex;
   align-items: center;
   border-radius: 0.2rem;
   cursor: pointer;
}

.socialamedialogos>div:hover{
    /* background-color: white; */
  


    .icon-github{
        color: #0e4166;
    }
    .icon-email{
        color: #0e4166;
    }
    .icon-linkedin{
        color: #0e4166;
    }

}


.icon-github{
    width: 25px;
    height: 25px;
    color: white;
}


.icon-email{
    width: 25px;
    height: 25px;
    color: white;

}
.icon-linkedin{
    width: 25px;
    height: 25px;
    color: white;

}



/* **********   Tab Screens **********/

@media screen and (min-width: 670px) and (max-width: 1124px){
    .intro-main-img-div {
        height: 550px;
     }
    .nameh1tag{
        font-size: 3rem;
    }

    .typewriter{
        letter-spacing: 0.2rem;
        font-size: 2rem;
    }
    .devloperimg{
        width: 16rem;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 10px;
    }
    .devloperimg-div{
        width: 16rem;
    }
}

@media screen and (min-width: 1117px) and (max-width: 1174px){
    .socialamedialogos{
        margin-top: 50px;
    }
}


/* **********   Small Screens **********/

@media screen and (max-width: 671px){
    .intro-main-img-div {
        height: 400px;
     }
    .nameh1tag{
        font-size: 2rem;
    }
    .typewriter{
        letter-spacing: 0.2rem;
        font-size: 1rem;
    }
    .devloperimg{
        width: 12rem;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: 10px;
    }
    .devloperimg-div{
        width: 12rem;
    }
    .svgbg {
        height: 800px;
    }
    .socialamedialogos{
        margin-top: 80px;
    }
}

@keyframes gradient-animation {
    /* 0% {background-position: left;}
    100% {background-position: right;} */


    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
